:host {
	display: block;
}

.scanner-page {
	display: flex;
	flex-direction: column;
	gap: var(--ml-space-xl, 2rem);
}

.scanner-page__row {
	display: flex;
	flex-direction: column;
	gap: var(--ml-space-lg, 1.25rem);
	align-items: center;
}

.scanner-page__row > * {
	width: 100%;
}

.scanner-page__table {
	width: 100%;
	box-sizing: border-box;
}

.scanner-page__table--empty {
	text-align: center;
}
